<section class="py-2">
    <div class="row">
        <form action="/charge" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_mxZNHMeB2KAMu3FqDPc89bT0"
                data-amount="599"
                data-name="Ticket"
                data-description="Limeade"
                data-image="/img/marketplace.png"
                data-locale="auto">
            </script>
        </form>
        <button class="btn-primary">Checkout</button>
    </div>
</section>