/* for animation */
:host {
    display: block;
}

.landing-wrapper {
    height: 100%;
}

.btn-wrapper{
    padding-top: 35px;
}

.btn-style {
    width: 40%;
    height: 50px;
    background: #471202;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

.btn-style a {
    text-decoration: none;
    color: inherit;
}

.app-screen{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

.test3 {
    /* margin-top: 10%; */
    /* border: 5px solid purple; */
}

.text-wrapper {
    /* border: 5px solid blue; */
    /* margin-top: 25px; */
    padding: 20px;
}

h3{
    padding-top: 80px;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #ff630f;
}