<div class="container-fluid landing-wrapper">
  <div class="row test3">
    <div class="col-lg-8 col-sm-12 text-wrapper">
        <h3>Enter for a chance to
            <h2>win 200 development hours</h2>
            toward the creation of your dream app.
        </h3>
        <div class="btn-wrapper">
          <button class="btn-style"><a routerLink="/tickets">GET STARTED HERE</a></button>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <img src="../assets/zesty-app-screen.png" class="app-screen" alt="">
    </div>
  </div>
</div>
